<DOCTYPE html>
<html lang = "en" dir = "ltr">
<head>
<meta charset = "utf-8">
<title>
Mushroom Classification
</title>
</head>
<body>
<h1>Mushroom Classification</h1>
<form action = "/predict" method = "POST">
<label for = "cap-shape">Cap-Shape</label><br>
<input type = "text" id = "cap-shape" name = "cap-shape" required>
<br>
<label for = "cap-surface">Cap-Surface</label><br>
<input type = "text" id = "cap-surface" name = "cap-surface" required>
<br>
<label for = "cap-color">Cap-Color</label><br>
<input type = "text" id = "cap-color" name = "cap-color" required>
<br>
<label for = "bruises">Bruises</label><br>
<input type = "text" id = "bruises" name = "bruises" required>
<br>
<label for = "odor">Odor</label><br>
<input type = "text" id = "odor" name = "odor" required>
<br>
<label for = "gill-attachment">Gill-Attachment</label><br>
<input type = "text" id = "gill-attachment" name = "gill-attachment" required>
<br>
<label for = "gill-spacing">Gill-Spacing</label><br>
<input type = "text" id = "gill-spacing" name = "gill-spacing" required>
<br>
<label for = "gill-size">Gill-Size</label><br>
<input type = "text" id = "gill-size" name = "gill-size" required>
<br>
<label for = "gill-color">Gill-Color</label><br>
<input type = "text" id = "gill-color" name = "gill-color" required>
<br>
<label for = "stalk-shape">Stalk-Shape</label><br>
<input type = "text" id = "stalk-shape" name = "stalk-shape" required>
<br>
<label for = "stalk-root">Stalk-Root</label><br>
<input type = "text" id = "stalk-root" name = "stalk-root" required>
<br>
<label for = "stalk-surface-above ring">Stalk-Surface-Above-Ring</label><br>
<input type = "text" id = "stalk-surface-above-ring" name = "stalk-surface-above-ring" required>
<br>
<label for = "stalk-surface-below-ring">Stalk-Surface-Below-Ring</label><br>
<input type = "text" id = "stalk-surface-below-ring" name = "stalk-surface-below-ring" required>
<br>
<label for = "stalk-color-above-ring">Stalk-Color-Above-Ring</label><br>
<input type = "text" id = "stalk-color-above-ring" name = "stalk-color-above-ring" required>
<br>
<label for = "stalk-color-below-ring">Stalk-Color-Below-Ring</label><br>
<input type = "text" id = "stalk-color-below-ring" name = "stalk-color-below-ring" required>
<br>
<label for = "veil-type">Veil-Type</label><br>
<input type = "text" id = "veil-type" name = "veil-type" required>
<br>
<label for = "veil-color">Veil-Color</label><br>
<input type = "text" id = "veil-color" name = "veil-color" required>
<br>
<label for = "ring-number">Ring-Number</label><br>
<input type = "text" id = "ring-number" name = "ring-number" required>
<br>
<label for = "ring-type">Ring-Type</label><br>
<input type = "text" id = "ring-type" name = "ring-type" required>
<br>
<label for = "spore-print-color">Spore-Print-Color</label><br>
<input type = "text" id = "spore-print-color" name = "spore-print-color" required>
<br>
<label for = "population">Population</label><br>
<input type = "text" id = "population" name = "population" required>
<br>
<label for = "habitat">Habitat</label><br>
<input type = "text" id = "habitat" name = "habitat" required>
<br>
<input type = "submit" value = "Predict">
</form>
</body>
</html>